services:
  app:  # Puma
    image: 851725235050.dkr.ecr.me-south-1.amazonaws.com/backend:${BRANCH_NAME}_${GITHUB_WORKFLOW_NUMBER}
    container_name: puma
    command: bundle exec ddprofrb exec rails server -b 0.0.0.0
    ports:
      - "3000:3000"
    volumes:
      - /var/www/html/Marketplace/shared/config/database.yml:/app/config/database.yml
      - /var/www/html/Marketplace/shared/config/credentials/${RAILS_ENV}.key:/app/config/credentials/${RAILS_ENV}.key
      - /var/run/datadog:/var/run/datadog
      - ./logs:/app/log
    environment:
      - RAILS_ENV=${RAILS_ENV}
      - REDIS_URL=redis://redis:6379
      - RAILS_LOG_LEVEL=info
      - DD_ENV=staging
      - DD_SERVICE=puma
      - DD_VERSION=1.0.0
      - DD_PROFILING_ENABLED=true
      - DD_PROFILING_ALLOCATION_ENABLED=true
      - DD_APM_ENABLED=true
      - DD_APM_NON_LOCAL_TRAFFIC=true
      - DD_TRACE_AGENT_URL=unix:///var/run/datadog/apm.socket
      - DD_TRACE_CLIENT_IP_ENABLED=true
      - DD_LOGS_CONFIG_CONTAINER_COLLECT_ALL=true
    depends_on:
      - redis
    restart: always
    labels:
      com.datadoghq.ad.logs: >-
        [{
          "source": "ruby",
          "service": "puma"
        }]
    networks:
      - appnet

  sidekiq:
    image: 851725235050.dkr.ecr.me-south-1.amazonaws.com/backend:${BRANCH_NAME}_${GITHUB_WORKFLOW_NUMBER}
    container_name: sidekiq
    command: bundle exec sidekiq -e ${RAILS_ENV} -C config/sidekiq.yml
    volumes:
      - /var/www/html/Marketplace/shared/config/database.yml:/app/config/database.yml
      - /var/www/html/Marketplace/shared/config/credentials/${RAILS_ENV}.key:/app/config/credentials/${RAILS_ENV}.key
    environment:
      - RAILS_ENV=${RAILS_ENV}
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis
    restart: always
    networks:
      - appnet

  sidekiq_algolia:
    image: 851725235050.dkr.ecr.me-south-1.amazonaws.com/backend:${BRANCH_NAME}_${GITHUB_WORKFLOW_NUMBER}
    container_name: sidekiq_algolia
    command: bundle exec sidekiq -e ${RAILS_ENV} -C config/sidekiq_algolia.yml
    volumes:
      - /var/www/html/Marketplace/shared/config/database.yml:/app/config/database.yml
      - /var/www/html/Marketplace/shared/config/credentials/${RAILS_ENV}.key:/app/config/credentials/${RAILS_ENV}.key
    environment:
      - RAILS_ENV=${RAILS_ENV}
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis
    restart: always
    networks:
      - appnet

  sidekiq_algolia:
    image: 851725235050.dkr.ecr.me-south-1.amazonaws.com/backend:${BRANCH_NAME}_${GITHUB_WORKFLOW_NUMBER}
    container_name: sidekiq_algolia
    command: bundle exec sidekiq -e ${RAILS_ENV} -C config/sidekiq_algolia.yml
    volumes:
      - /var/www/html/Marketplace/shared/config/database.yml:/app/config/database.yml
      - /var/www/html/Marketplace/shared/config/credentials/${RAILS_ENV}.key:/app/config/credentials/${RAILS_ENV}.key
    environment:
      - RAILS_ENV=${RAILS_ENV}
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis
    restart: always
    networks:
      - appnet

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt/archive/api-staging.nawaqis.com/fullchain5.pem:/etc/nginx/ssl/fullchain.pem:ro
      - /etc/letsencrypt/archive/api-staging.nawaqis.com/privkey5.pem:/etc/nginx/ssl/privkey.pem:ro
    depends_on:
      - app
    restart: always
    networks:
      - appnet

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - appnet

  datadog-agent:
    image: gcr.io/datadoghq/agent:7
    container_name: dd-agent
    privileged: true
    environment:
      - DD_API_KEY=5495f93f233b8859c288dc93669adfc5
      - DD_SITE=us5.datadoghq.com
      - DD_ENV=staging
      - DD_APM_ENABLED=true
      - DD_APM_NON_LOCAL_TRAFFIC=true
      - DD_APM_RECEIVER_SOCKET=/var/run/datadog/apm.socket
      - DD_DOGSTATSD_SOCKET=/var/run/datadog/dsd.socket
      - DD_LOGS_ENABLED=true
      - DD_LOGS_CONFIG_CONTAINER_COLLECT_ALL=true   # <-- updated
      - DD_CONTAINER_INCLUDE=name:.*
      - DD_CONTAINER_EXCLUDE_LOGS=name:backend name:nginx name:redis name:agent name:dd-agent
      - DD_PROFILING_ALLOCATION_ENABLED=true
    volumes:
      - /var/run/datadog:/var/run/datadog
      - /opt/datadog-agent/run:/opt/datadog-agent/run:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /proc/:/host/proc/:ro
      - /sys/fs/cgroup/:/host/sys/fs/cgroup:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ./conf.d/redisdb.d:/etc/datadog-agent/conf.d/redisdb.d:ro
      - ./logs:/app/log
      - ./conf.d/puma_logs.d:/etc/datadog-agent/conf.d/puma_logs.d:ro
    ports:
      - "8126:8126"
    networks:
      - appnet

volumes:
  redis-data:

networks:
  appnet: